.d-flex {
    display: flex;
    align-items: center;
}

.jc-between {
    justify-content: space-between;
}

.ai-center {
    align-items: center;
}

.mr-1 {
    margin-right: 1rem;
}

.br-r {
    border-right: solid 1px #ccc;
}

.section-heading {
    text-transform: uppercase;
}
